.main-content .top-bar .parts, .main-content .top-bar .parts .part2 .item .theme-panel, .main-content > .personal-section .banner, .main-content > .personal-section section > .title .title-right .upload-song,
.main-content > .personal-section section > .title .title-right .play-all, .main-content > .personal-section #playlist .new-playlist, .main-content > .personal-section #playlist .swiper-slide, .main-content > .personal-section #artist .artist-info, .main-content > .personal-section #artist .swiper-container,
.main-content > .personal-section #playlist .swiper-container, .main-content > .ranking-section .container .header,
.main-content > .top-100 .container .header, .main-content > .ranking-section .container .songs,
.main-content > .top-100 .container .songs, .main-content > .ranking-section .container .songs .itemSong.featured .content .info .moreInfo,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .moreInfo, .main-content > .ranking-section .container .songs .itemSong .content .number,
.main-content > .top-100 .container .songs .itemSong .content .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content {
  background-color: var(--bg-lv8);
  overflow: hidden auto;
  position: relative;
  left: 240px;
  width: calc(100% - 240px);
  height: calc(100vh - 90px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content:hover::-webkit-scrollbar-thumb,
.main-content > .personal-section .song-list:hover::-webkit-scrollbar-thumb,
.main-content #playlist .playlist-slider:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-lv2);
}

.main-content .top-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .top-bar .top-ico {
  padding: 0 10px;
  color: var(--bg-lv0);
}

.main-content .top-bar .parts {
  width: 100%;
}

.main-content .top-bar .parts .part1 {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-content .top-bar .parts .part1 > .top-ico:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.main-content .top-bar .parts .part2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .top-bar .parts .part2 .item {
  position: relative;
  cursor: pointer;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-top: 2px solid transparent;
}

.main-content .top-bar .parts .part2 .item.active {
  border-color: var(--bg-lv1);
}

.main-content .top-bar .parts .part2 .item.active .theme-panel {
  height: auto;
  padding: 5px;
}

.main-content .top-bar .parts .part2 .item.active .theme-panel .theme-item {
  padding: 5px 10px;
  height: 50px;
}

.main-content .top-bar .parts .part2 .item.active .setting-panel {
  display: block;
}

.main-content .top-bar .parts .part2 .item .ava-img {
  width: inherit;
  height: inherit;
}

.main-content .top-bar .parts .part2 .item .theme-panel {
  position: absolute;
  right: 0;
  top: 50px;
  width: 150px;
  height: 0;
  padding: 0;
  background-color: var(--bg-lv6);
  border-radius: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.main-content .top-bar .parts .part2 .item .theme-panel .theme-item {
  background-color: var(--bg-lv5);
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 0;
  padding: 0;
  margin: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-content .top-bar .parts .part2 .item .theme-panel .theme-item > span {
  display: none;
}

.main-content .top-bar .parts .part2 .item .setting-panel {
  display: none;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list {
  background-color: var(--bg-lv6);
  position: absolute;
  top: 45px;
  right: 0;
  width: 180px;
  padding: 7px 12px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .setting-item {
  width: 100%;
  margin: 3px 0;
  padding: 8px 12px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .setting-item:hover {
  background-color: var(--bg-lv8);
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .setting-item > i {
  margin-right: 10px;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .music-quality .quality-panel {
  display: none;
  position: absolute;
  left: -90%;
  width: 170px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: var(--bg-lv6);
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .music-quality .quality-panel .quality-item {
  margin: 8px 0 12px;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .music-quality .quality-panel .quality-item span {
  font-weight: bold;
  margin: 5px 0;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .music-quality .quality-panel .quality-item p {
  margin: 5px 0 8px;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .music-quality:hover .quality-panel {
  display: block;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .horizone-line {
  position: relative;
  margin: 6px 0 4px;
  width: 100%;
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .horizone-line::after {
  content: '';
  border-top: 1px solid var(--bg-lv9);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-content .top-bar .parts .part2 .item .setting-panel .setting-list .horizone-line ~ .setting-item {
  opacity: 0.64;
}

.main-content .top-bar .search-bar {
  position: relative;
  width: 80%;
}

.main-content .top-bar .search-bar input {
  background-color: var(--bg-lv8);
  color: var(--bg-lv0);
  width: 90%;
  height: 34px;
  margin-left: 10px;
  padding: 20px 30px;
  border-radius: 25px;
  border: 0;
  outline: none;
  border-left: 2px solid var(--bg-lv6);
  border-bottom: 2px solid var(--bg-lv6);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content .top-bar .search-bar input::-webkit-input-placeholder, .main-content .top-bar .search-bar input:target {
  color: var(--bg-lv0);
  font-size: 1rem;
  font-style: italic;
}

.main-content .top-bar .search-bar input:-ms-input-placeholder, .main-content .top-bar .search-bar input:target {
  color: var(--bg-lv0);
  font-size: 1rem;
  font-style: italic;
}

.main-content .top-bar .search-bar input::-ms-input-placeholder, .main-content .top-bar .search-bar input:target {
  color: var(--bg-lv0);
  font-size: 1rem;
  font-style: italic;
}

.main-content .top-bar .search-bar input::placeholder, .main-content .top-bar .search-bar input:target {
  color: var(--bg-lv0);
  font-size: 1rem;
  font-style: italic;
}

.main-content .top-bar .search-bar.active input,
.main-content .top-bar .search-bar input:focus {
  background-color: var(--bg-lv6);
  border-radius: 20px 20px 0 0;
  outline: none;
  border: none;
}

.main-content .top-bar .search-bar .suggest-list {
  background-color: var(--bg-lv6);
  color: var(--bg-lv0);
  font-size: 1rem;
  z-index: 10;
  display: block;
  overflow: hidden auto;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 90%;
  height: 0;
  padding: 0;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content .top-bar .search-bar .suggest-list .title {
  padding: 0 10px 8px;
}

.main-content .top-bar .search-bar .suggest-list .personal-section {
  background-color: var(--bg-lv6);
  overflow-y: auto;
  height: 30vh;
}

.main-content .top-bar .search-bar.active .suggest-list {
  padding: 13px 10px;
  height: 30vh;
}

.main-content .top-bar .search-bar .suggest-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  border-radius: 20px;
  padding: 13px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.main-content .top-bar .search-bar .suggest-item:hover {
  background-color: var(--bg-lv5);
}

.main-content .top-bar .search-bar .suggest-item span {
  margin-left: 10px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-content > .personal-section {
  position: relative;
  width: 100%;
  padding: 0 54px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > .personal-section .banner {
  margin-top: 20px;
  width: 100%;
  height: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > .personal-section .banner img {
  max-width: 175px;
  width: 16vmax;
}

.main-content > .personal-section .banner .info {
  font-size: 2.2rem;
  letter-spacing: 4px;
  margin: 10px 0;
  padding: 10px;
}

.main-content > .personal-section .nav-bar {
  width: calc(min(468px, 100%));
  height: auto;
  padding: 10px 6px;
  margin: 0 auto 40px;
  border-radius: 25px;
  background-color: var(--bg-lv6);
}

.main-content > .personal-section .nav-bar.ontop {
  position: fixed;
  top: 0;
  left: 59%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
}

.main-content > .personal-section .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content > .personal-section .nav-bar .nav-links .link {
  text-align: center;
  width: 100px;
  margin: 0 7px;
  padding: 5px 15px;
  border-radius: 20px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.main-content > .personal-section .nav-bar .nav-links .link:hover {
  background-color: var(--bg-lv7);
}

.main-content > .personal-section .nav-bar .nav-links .liactive {
  background-color: var(--bg-lv5);
}

.main-content > .personal-section .main-page {
  width: 100%;
}

.main-content > .personal-section section {
  border-radius: 17px;
  border-bottom: 3px solid var(--bg-lv6);
  border-left: 1px solid var(--bg-lv6);
  border-right: 1px solid var(--bg-lv6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  padding: 15px;
  margin-bottom: 50px;
}

.main-content > .personal-section section > .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  position: relative;
  padding-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content > .personal-section section > .title > span {
  line-height: auto;
  letter-spacing: 2px;
  color: var(--bg-lv0);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  left: 0;
  border: 0;
  padding: 5px;
  padding-left: 20px;
  border-top-right-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition: background 0.2s 0.2s ease-in-out;
  transition: background 0.2s 0.2s ease-in-out;
}

.main-content > .personal-section section > .title > span > a {
  color: var(--bg-lv0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-content > .personal-section section > .title > span > a::before {
  content: '';
  background-color: #f38181;
  position: absolute;
  left: 5px;
  top: 0;
  width: 3px;
  z-index: 10;
  height: 100%;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-content > .personal-section section > .title > span > a::after {
  content: '';
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 9px);
  z-index: 10;
  border: solid 3px #f38181;
  border-radius: 2px;
  border-bottom: 0;
  border-left: 0;
  -webkit-transform: translateX(-42px) rotate(45deg);
          transform: translateX(-42px) rotate(45deg);
  -webkit-transition: all 0.2s 0.1s ease-in-out;
  transition: all 0.2s 0.1s ease-in-out;
}

.main-content > .personal-section section > .title > span:hover {
  background-color: var(--bg-lv0);
}

.main-content > .personal-section section > .title > span:hover > a {
  color: var(--bg-lv8);
  padding-left: 35px;
  font-weight: bold;
  z-index: 14;
}

.main-content > .personal-section section > .title > span:hover > a::before {
  left: 23px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main-content > .personal-section section > .title > span:hover > a::after {
  -webkit-transform: translateX(5px) rotate(45deg);
          transform: translateX(5px) rotate(45deg);
}

.main-content > .personal-section section > .title .title-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content > .personal-section section > .title .title-right i {
  padding: 0 5px;
}

.main-content > .personal-section section > .title .title-right .upload-song,
.main-content > .personal-section section > .title .title-right .play-all {
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--bg-lv0);
  background-color: var(--bg-lv6);
}

.main-content > .personal-section section > .title .title-right .upload-song {
  margin-right: 10px;
}

.main-content > .personal-section section .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content > .personal-section #songs .section-content {
  margin-top: 15px;
}

.main-content > .personal-section #songs .section-content img {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content > .personal-section #songs .section-content .img-preview {
  position: relative;
  width: 240px;
  height: 240px;
}

.main-content > .personal-section #songs .section-content .song-list {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 250px;
  padding: 0 15px;
  overflow: hidden auto;
}

.main-content > .personal-section #songs .section-content .song-list .song-item {
  width: 100%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content > .personal-section #songs .section-content .song-list .song-item:hover {
  background-color: var(--bg-lv6);
}

.main-content > .personal-section #songs .section-content .song-list .song-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  opacity: 1;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .left {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .left .left-content {
  position: relative;
  font-size: 1.1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .left .left-content .song-title,
.main-content > .personal-section #songs .section-content .song-list .song-item .left .left-content .song-artist {
  width: 95%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .left .left-content .song-title {
  font-weight: 600;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

.main-content > .personal-section #songs .section-content .song-list .song-item .right > .duration {
  width: 50px;
}

.main-content > .personal-section #playlist .new-playlist {
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  z-index: 10;
  width: 180px;
  height: 230px;
  margin-top: 15px;
  margin-right: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > .personal-section #playlist .new-playlist:hover .create-btn,
.main-content > .personal-section #playlist .new-playlist .create-btn:hover {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.main-content > .personal-section #playlist .new-playlist:hover {
  -webkit-animation: pock 0.7s ease-in-out;
          animation: pock 0.7s ease-in-out;
}

.main-content > .personal-section #playlist .new-playlist .create-btn {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content > .personal-section #playlist .new-playlist .create-btn::after, .main-content > .personal-section #playlist .new-playlist .create-btn::before {
  content: '';
  background-color: var(--bg-lv0);
  position: absolute;
  top: 50%;
  height: 3px;
  width: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content > .personal-section #playlist .new-playlist .create-btn::before {
  -webkit-transform: rotateZ(90deg) translateX(-3px);
          transform: rotateZ(90deg) translateX(-3px);
  bottom: 2px;
}

.main-content > .personal-section #playlist .new-playlist .title {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

.main-content > .personal-section #playlist .swiper-container {
  width: calc(100% - 180px);
  height: 230px;
}

.main-content > .personal-section #playlist .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #6f7073;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-content > .personal-section #playlist .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(140deg, #d45b7a, #fda576);
  width: 16px;
}

.main-content > .personal-section #playlist .swiper-slide {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option {
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 130px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option:hover {
  background-size: 120% 120%;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option:hover .playlist-option-overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option .playlist-option-overlay {
  border-radius: 10px;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.445);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option .playlist-option-overlay > i {
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-option .playlist-option-overlay > i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-content > .personal-section #playlist .swiper-slide .playlist-title,
.main-content > .personal-section #playlist .swiper-slide .playlist-owner {
  font-size: 1.1rem;
  line-height: 1.3;
}

.main-content > .personal-section #playlist .swiper-slide .playlist-title {
  font-weight: bold;
}

.main-content > .personal-section #artist .swiper-container {
  width: 100%;
  height: 300px;
}

.main-content > .personal-section #artist .artist-info {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 40px 0 0;
}

.main-content > .personal-section #artist .artist-info .artist__bg > div {
  border-radius: 50%;
  position: relative;
  display: block;
  height: 180px;
  width: 180px;
  opacity: 1;
}

.main-content > .personal-section #artist .artist-info .artist__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content > .personal-section #artist .artist-info .artist__name {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 5px 0;
}

.main-content > .personal-section #artist .artist-info .artist__status {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--bg-lv6);
}

.main-content > .personal-section #artist .swiper-container,
.main-content > .personal-section #playlist .swiper-container {
  overflow: hidden;
  position: relative;
  margin-top: 15px;
}

.main-content > .personal-section #artist .swiper-wrapper,
.main-content > .personal-section #playlist .swiper-wrapper {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 230px;
}

.main-content > .personal-section .swiper-button-next,
.main-content > .personal-section .swiper-button-prev {
  top: 110px;
  color: var(--bg-lv1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-content > .personal-section .swiper-button-next:hover,
.main-content > .personal-section .swiper-button-prev:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.main-content > .ranking-section .container,
.main-content > .top-100 .container {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(255, 255, 255, 0.911);
  position: relative;
  text-align: center;
  border-radius: 8px;
  margin: 50px auto;
  padding: 20px 50px;
  width: 80%;
}

.main-content > .ranking-section .container .header,
.main-content > .top-100 .container .header {
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > .ranking-section .container .header .title,
.main-content > .top-100 .container .header .title {
  color: #d46351;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.main-content > .ranking-section .container .header .subtitle,
.main-content > .top-100 .container .header .subtitle {
  color: #1d8694;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.main-content > .ranking-section .container .songs,
.main-content > .top-100 .container .songs {
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > .ranking-section .container .songs .categories,
.main-content > .top-100 .container .songs .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 80px);
  letter-spacing: 0.2px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding: 16px 0px 20px 40px;
  color: #e87867;
  margin: 0 40px;
}

.main-content > .ranking-section .container .songs .itemSong,
.main-content > .top-100 .container .songs .itemSong {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 16px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.35s cubic-bezier(0.62, 0.21, 0.19, 0.84);
  transition: all 0.35s cubic-bezier(0.62, 0.21, 0.19, 0.84);
}

.main-content > .ranking-section .container .songs .itemSong:hover,
.main-content > .top-100 .container .songs .itemSong:hover {
  height: 220px;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .number,
.main-content > .top-100 .container .songs .itemSong:hover .content .number {
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.4);
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .image,
.main-content > .top-100 .container .songs .itemSong:hover .content .image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-transition: all 0.4s 0.2s cubic-bezier(0.62, 0.21, 0.19, 0.84);
  transition: all 0.4s 0.2s cubic-bezier(0.62, 0.21, 0.19, 0.84);
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .image::before,
.main-content > .top-100 .container .songs .itemSong:hover .content .image::before {
  background-color: #7a7a7a;
  opacity: 0.4;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .image::after,
.main-content > .top-100 .container .songs .itemSong:hover .content .image::after {
  background-color: #e87867;
  opacity: 0.6;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .image > img,
.main-content > .top-100 .container .songs .itemSong:hover .content .image > img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 100%;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .info .moreInfo,
.main-content > .top-100 .container .songs .itemSong:hover .content .info .moreInfo {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s 0.3s ease;
  transition: all 0.3s 0.3s ease;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .info .text,
.main-content > .top-100 .container .songs .itemSong:hover .content .info .text {
  top: 52px;
  color: white;
}

.main-content > .ranking-section .container .songs .itemSong:hover .content .info .plays,
.main-content > .top-100 .container .songs .itemSong:hover .content .info .plays {
  top: 42px;
  color: white;
}

.main-content > .ranking-section .container .songs .itemSong.featured,
.main-content > .top-100 .container .songs .itemSong.featured {
  top: 0;
  width: 120%;
  height: 55vmin;
  color: white;
  border-radius: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0px 6px 20px 25% black;
          box-shadow: 0px 6px 20px 25% black;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content,
.main-content > .top-100 .container .songs .itemSong.featured .content {
  padding: 24px 32px 24px 24px;
  -webkit-box-align: end;
  border-radius: inherit;
  -ms-flex-align: end;
      align-items: flex-end;
  position: relative;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .number,
.main-content > .top-100 .container .songs .itemSong.featured .content .number {
  width: 65px;
  height: 65px;
  top: initial;
  bottom: 24px;
  left: 24px;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .image,
.main-content > .top-100 .container .songs .itemSong.featured .content .image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .image::before,
.main-content > .top-100 .container .songs .itemSong.featured .content .image::before {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55.95%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.74)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.95%, rgba(0, 0, 0, 0.74) 100%);
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .image::after,
.main-content > .top-100 .container .songs .itemSong.featured .content .image::after {
  opacity: 0.5;
  background: #5eadb7;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .image > img,
.main-content > .top-100 .container .songs .itemSong.featured .content .image > img {
  width: 100%;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info,
.main-content > .top-100 .container .songs .itemSong.featured .content .info {
  margin-left: calc(65px + 20px);
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .text,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .text {
  position: initial;
  -webkit-transform: none;
          transform: none;
  top: initial;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .text .title,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .text .title {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .text .artist,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .text .artist {
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .plays,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .plays {
  position: absolute;
  top: initial;
  right: 32px;
  color: inherit;
  font-size: 2rem;
  font-weight: 500;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .plays::before,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .plays::before {
  content: 'Wks';
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 1.3rem;
  font-weight: 200;
  text-align: right;
  letter-spacing: 0.04em;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .long::before,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .long::before {
  content: '';
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .moreInfo,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .moreInfo {
  background-color: #5eadb7;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  padding: 0 16px;
  border-radius: 4px;
  left: initial;
  bottom: -16px;
  right: calc(8% + 8px);
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 6px 20px 25% black;
          box-shadow: 0px 6px 20px 25% black;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .moreInfo .moreItem,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .moreInfo .moreItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.main-content > .ranking-section .container .songs .itemSong.featured .content .info .moreInfo .counters,
.main-content > .top-100 .container .songs .itemSong.featured .content .info .moreInfo .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content > .ranking-section .container .songs .itemSong.animeIn .content .image,
.main-content > .top-100 .container .songs .itemSong.animeIn .content .image {
  height: 48px;
}

.main-content > .ranking-section .container .songs .itemSong.animeIn .content .info .text,
.main-content > .top-100 .container .songs .itemSong.animeIn .content .info .text {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1rem;
}

.main-content > .ranking-section .container .songs .itemSong.animeIn .content .info .plays,
.main-content > .top-100 .container .songs .itemSong.animeIn .content .info .plays {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-content > .ranking-section .container .songs .itemSong.down .content .info .score,
.main-content > .top-100 .container .songs .itemSong.down .content .info .score {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.main-content > .ranking-section .container .songs .itemSong .content,
.main-content > .top-100 .container .songs .itemSong .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 6px;
  padding: 8px 24px 8px 8px;
  background-color: rgba(244, 220, 193, 0.35);
}

.main-content > .ranking-section .container .songs .itemSong .content .icon,
.main-content > .top-100 .container .songs .itemSong .content .icon {
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.main-content > .ranking-section .container .songs .itemSong .content .number,
.main-content > .top-100 .container .songs .itemSong .content .number {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: #e87867;
  border-radius: 100%;
  position: absolute;
  color: white;
  top: -4px;
  left: -4px;
  z-index: 2;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-transition: all 0.4s cubic-bezier(0.85, 0.08, 0.21, 1.34);
  transition: all 0.4s cubic-bezier(0.85, 0.08, 0.21, 1.34);
}

.main-content > .ranking-section .container .songs .itemSong .content .image,
.main-content > .top-100 .container .songs .itemSong .content .image {
  background-color: gray;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  left: 8px;
  top: 8px;
  width: 68px;
  height: 68px;
  -webkit-transition: all 0.6s 0.1s cubic-bezier(0.02, 1.09, 0.19, 1.01);
  transition: all 0.6s 0.1s cubic-bezier(0.02, 1.09, 0.19, 1.01);
}

.main-content > .ranking-section .container .songs .itemSong .content .image::before, .main-content > .ranking-section .container .songs .itemSong .content .image::after,
.main-content > .top-100 .container .songs .itemSong .content .image::before,
.main-content > .top-100 .container .songs .itemSong .content .image::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s 0.2s ease;
  transition: all 0.4s 0.2s ease;
}

.main-content > .ranking-section .container .songs .itemSong .content .image > img,
.main-content > .top-100 .container .songs .itemSong .content .image > img {
  width: 68px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main-content > .ranking-section .container .songs .itemSong .content .info,
.main-content > .top-100 .container .songs .itemSong .content .info {
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-left: calc(68px + 24px);
}

.main-content > .ranking-section .container .songs .itemSong .content .info .text,
.main-content > .top-100 .container .songs .itemSong .content .info .text {
  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: start;
      align-items: flex-start;
  font-size: 1.15rem;
  color: #5eadb7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease, color 0.3s 0.1s ease;
  transition: all 0.3s ease, color 0.3s 0.1s ease;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .text .title,
.main-content > .top-100 .container .songs .itemSong .content .info .text .title {
  font-weight: 500;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .plays,
.main-content > .top-100 .container .songs .itemSong .content .info .plays {
  position: absolute;
  right: 55px;
  top: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #e87867;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all 0.2s ease, color 0.2s 0.2s ease, font-size 0.2s linear, transform 0.3s 0.4s ease, -webkit-transform 0.3s 0.4s ease;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -20px;
  padding: 16px 24px;
  -webkit-box-pack: justify;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .moreItem,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .moreItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .moreItem:last-child,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .moreItem:last-child {
  margin-right: 0;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .moreItem .score,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .moreItem .score {
  background-image: url("https://www.rafaelalucas.com/dailyui/19/assets/arrowup.svg");
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .counters,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .counters .heart,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .counters .heart {
  background-image: url("https://www.rafaelalucas.com/dailyui/19/assets/heart.svg");
}

.main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo .counters .play,
.main-content > .top-100 .container .songs .itemSong .content .info .moreInfo .counters .play {
  background-image: url("https://www.rafaelalucas.com/dailyui/19/assets/play.svg");
}

.main-content > .ranking-section .container .load-remain,
.main-content > .top-100 .container .load-remain {
  letter-spacing: 4px;
  position: relative;
  margin: 20px auto;
  font-size: 1.3rem;
  max-width: 280px;
  cursor: pointer;
  padding: 20px;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#f74add), color-stop(#d92b2b), color-stop(#ffaf1c), to(#f74add));
  background: linear-gradient(90deg, #f74add, #d92b2b, #ffaf1c, #f74add);
  background-size: 400%;
}

.main-content > .ranking-section .container .load-remain::before,
.main-content > .top-100 .container .load-remain::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#ec37d0), color-stop(#d92b2b), color-stop(#ffaa0d), to(#ec37d0));
  background: linear-gradient(90deg, #ec37d0, #d92b2b, #ffaa0d, #ec37d0);
  background-size: 400%;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-content > .ranking-section .container .load-remain:hover,
.main-content > .top-100 .container .load-remain:hover {
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

.main-content > .ranking-section .container .load-remain:hover::before,
.main-content > .top-100 .container .load-remain:hover::before {
  -webkit-filter: blur(25px);
          filter: blur(25px);
  opacity: 0.8;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

@-webkit-keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}

@keyframes animate {
  from {
    background-position: 0%;
  }
  to {
    background-position: 400%;
  }
}

.main-content .to-top {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
}

.main-content .to-top::after, .main-content .to-top::before {
  content: '';
  position: absolute;
  bottom: 0;
  background-color: var(--bg-lv1);
  width: 31px;
  height: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-content .to-top::after {
  left: 0;
  -webkit-transform: rotateZ(-225deg);
          transform: rotateZ(-225deg);
}

.main-content .to-top::before {
  right: 0;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
}

.main-content .to-top:hover {
  cursor: default;
}

.main-content .to-top:hover::after, .main-content .to-top:hover::before {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.main-content .to-top:hover .content {
  display: block;
}

.main-content .to-top .content {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#upload-song,
#upload-song2 {
  display: none;
}

@media (max-width: 1024px) {
  .main-content > .personal-section .nav-bar.ontop {
    left: calc(59% - 70px);
  }
}

@media (max-width: 750px) {
  *::-webkit-scrollbar {
    width: 0;
  }
  .main-content:hover::-webkit-scrollbar-thumb,
  .main-content > .personal-section .song-list:hover::-webkit-scrollbar-thumb,
  .main-content #playlist .playlist-slider:hover::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .main-content .top-bar .parts .part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    top: 66px;
  }
  .main-content .top-bar .parts .part2 .item {
    margin-top: 5px;
    border: 0;
    border-right: 2px solid transparent;
  }
  .main-content .top-bar .parts .part2 .item.active {
    border-color: var(--bg-lv1);
  }
  .main-content .top-bar .parts .search-bar input,
  .main-content .top-bar .parts .search-bar .suggest-list {
    width: 85%;
  }
  .main-content > .personal-section {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main-content > .personal-section .nav-bar {
    width: 60%;
  }
  .main-content > .personal-section .nav-bar.ontop {
    left: calc(59% - 70px);
  }
  .main-content > .personal-section .nav-bar .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content > .personal-section .nav-bar .nav-links .link {
    width: 90%;
    margin: 5px 0;
    padding: 10px 5px;
  }
  .main-content > .personal-section .song-list {
    width: 100%;
    margin-top: 10px;
    padding: 0;
  }
  .main-content > .personal-section section .title-right span {
    display: none;
  }
  .main-content > .personal-section #songs .section-content {
    max-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content > .personal-section #songs .img-preview {
    display: none;
  }
  .main-content > .personal-section #playlist .section-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-content > .personal-section #playlist .new-playlist {
    width: 80%;
    height: 150px;
    margin: 5px auto 15px;
  }
  .main-content > .personal-section #playlist .swiper-container {
    width: 100%;
  }
  .main-content > .ranking-section .container,
  .main-content > .top-100 .container {
    width: 100%;
    margin: 0;
  }
  .main-content > .ranking-section .container .header,
  .main-content > .top-100 .container .header {
    height: 150px;
  }
  .main-content > .ranking-section .container .header .title,
  .main-content > .top-100 .container .header .title {
    font-size: 2rem;
  }
  .main-content > .ranking-section .container .header .subtitle,
  .main-content > .top-100 .container .header .subtitle {
    font-size: 1.1rem;
  }
  .main-content > .ranking-section .container .songs .itemSong.featured,
  .main-content > .top-100 .container .songs .itemSong.featured {
    width: calc(100vw - 70px);
  }
  .main-content > .ranking-section .container .songs .categories,
  .main-content > .top-100 .container .songs .categories {
    width: calc(100vw - 70px - 64px);
    font-size: 1.1rem;
    padding: 24px;
  }
  .main-content > .ranking-section .container .songs .itemSong,
  .main-content > .top-100 .container .songs .itemSong {
    width: calc(100vw - 70px - 24px);
    height: 100px;
  }
  .main-content > .ranking-section .container .songs .itemSong:hover .content .number,
  .main-content > .top-100 .container .songs .itemSong:hover .content .number {
    font-size: 18px;
  }
  .main-content > .ranking-section .container .songs .itemSong:hover .content .info .moreInfo,
  .main-content > .top-100 .container .songs .itemSong:hover .content .info .moreInfo {
    -webkit-transition: all 0.3s 0.3s ease;
    transition: all 0.3s 0.3s ease;
  }
  .main-content > .ranking-section .container .songs .itemSong:hover .content .info .text,
  .main-content > .ranking-section .container .songs .itemSong:hover .content .info .plays,
  .main-content > .top-100 .container .songs .itemSong:hover .content .info .text,
  .main-content > .top-100 .container .songs .itemSong:hover .content .info .plays {
    color: white;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .number,
  .main-content > .top-100 .container .songs .itemSong .content .number {
    width: 30px;
    height: 30px;
    font-size: 1.1rem;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .image,
  .main-content > .top-100 .container .songs .itemSong .content .image {
    width: 68px;
    height: 68px;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .image::before, .main-content > .ranking-section .container .songs .itemSong .content .image::after,
  .main-content > .top-100 .container .songs .itemSong .content .image::before,
  .main-content > .top-100 .container .songs .itemSong .content .image::after {
    height: 100%;
    width: 100%;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .image > img,
  .main-content > .top-100 .container .songs .itemSong .content .image > img {
    width: 68px;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .info,
  .main-content > .top-100 .container .songs .itemSong .content .info {
    width: 100%;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .info .text,
  .main-content > .top-100 .container .songs .itemSong .content .info .text {
    font-size: 1rem;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .info .plays,
  .main-content > .top-100 .container .songs .itemSong .content .info .plays {
    font-size: 1rem;
  }
  .main-content > .ranking-section .container .songs .itemSong .content .info .moreInfo,
  .main-content > .top-100 .container .songs .itemSong .content .info .moreInfo {
    font-size: 1rem;
    width: 100%;
  }
}
