.player-control {
	border-top: 1px solid var(--bg-lv7);
	background-color: var(--bg-lv9);
	position: fixed;
	bottom: 0;

	width: 100%;
	height: 90px;
	padding: 0 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 2;
}

.player-control .song-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 30%;
	height: 65px;
}

.player-control .song-info .media-img {
	background-color: var(--bg-lv2);
	border-radius: 30px;

	width: 64px;
	height: 64px;
	margin-right: 10px;
}

.player-control .song-info .media-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--bg-lv0);
}

.player-control .song-info .media-content .title {
	font-size: 1.2rem;
	font-weight: bold;
}

.player-control .song-info .media-option {
	margin-left: 10px;
	display: flex;
}

.player-control .controller {
	background-color: var(--bg-lv9);
	max-width: 40vw;
	height: 75px;
	flex: 1;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.player-control .controller .part1 {
	display: flex;
	align-items: center;
	justify-content: space-around;

	flex: 2;
	width: 50%;
}

.player-control .controller .part2 {
	color: var(--bg-lv0);

	display: flex;
	align-items: center;
	justify-content: space-between;

	flex: 1;
	width: 100%;
	padding: 0 10px 5px;
}

.player-control .controller .part2 .duration {
	background-color: var(--bg-lv0);

	height: 3px;
	width: 80%;
}

.player-control .player-tools {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 30%;
	height: 65px;
}

.vertical-line {
	background-color: var(--bg-lv0);
	width: 3px;
	height: 50%;
	margin: 0 20px;
}
