.playlist-sidebar .content .song-item {
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlist-sidebar .content .song-item:hover {
  background-color: var(--bg-lv6);
}

.playlist-sidebar .content .song-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  position: relative;
  opacity: 1;
}

.playlist-sidebar .content .song-item .left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.playlist-sidebar .content .song-item .left .left-content {
  position: relative;
  font-size: 1.1rem;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.playlist-sidebar .content .song-item .left .left-content .song-title,
.playlist-sidebar .content .song-item .left .left-content .song-artist {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playlist-sidebar .content .song-item .left .left-content .song-title {
  font-weight: 600;
}

.playlist-sidebar .content .song-item .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playlist-sidebar .content .song-item .right > .duration {
  width: 50px;
}

.playlist-sidebar .content .next-play .song-list {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden auto;
  padding: 0 15px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.playlist-sidebar .content .next-play .song-list::-webkit-scrollbar {
  width: 0;
}

.playlist-sidebar {
  background-color: var(--bg-lv7);
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.playlist-sidebar.active {
  width: 350px;
}

.playlist-sidebar.active .top-bar .left,
.playlist-sidebar.active .top-bar .right {
  opacity: 1;
}

.playlist-sidebar.active .content > * {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.playlist-sidebar.recent .recent-tab {
  display: block;
}

.playlist-sidebar.recent .playlist-tab {
  display: none;
}

.playlist-sidebar .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 15px;
  margin-top: 10px;
}

.playlist-sidebar .top-bar .ico {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.playlist-sidebar .top-bar .left,
.playlist-sidebar .top-bar .right {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.playlist-sidebar .top-bar .left {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--bg-lv6);
  border-radius: 30px;
  margin-right: 20px;
  padding: 10px 0;
}

.playlist-sidebar .top-bar .left .option {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.playlist-sidebar .top-bar .left .option.active {
  background-color: var(--bg-lv4);
}

.playlist-sidebar .top-bar .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.playlist-sidebar .content {
  overflow: hidden auto;
  position: absolute;
  top: 80px;
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.playlist-sidebar .content .now-play {
  background-color: var(--bg-lv6);
  border-radius: 20px;
  margin: 15px 20px;
  height: 70px;
  -webkit-box-shadow: 4px 4px 0 2px var(--bg-lv4);
          box-shadow: 4px 4px 0 2px var(--bg-lv4);
}

.playlist-sidebar .content .next-play .title {
  letter-spacing: 7px;
  font-size: 1.4rem;
  padding: 10px;
  margin: 10px;
}

.playlist-sidebar .content .next-play .title > span {
  position: relative;
}

.playlist-sidebar .content .next-play .title > span::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 10px;
  right: 22px;
  height: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--bg-lv4);
}

.playlist-sidebar .content .next-play .title > span:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.playlist-sidebar .content > * {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.playlist-sidebar .recent-tab {
  width: 100%;
  padding: 15px;
  display: none;
}

.playlist-sidebar .recent-tab > .song-list {
  height: calc(100vh - 185px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playlist-sidebar .playlist-tab {
  display: block;
}

.playlist-sidebar .playlist-tab .song-list {
  height: calc(100vh - 185px - 150px);
}

@media (max-width: 500px) {
  .playlist-sidebar.active {
    width: calc(100% - 70px);
  }
}
