:root {
	--bg-lv0: #000000;
	--bg-lv1: #f4f4f4;
	--bg-lv2: #f2f2f2;
	--bg-lv3: #e3e3e3;
	--bg-lv4: #d4d4d4;
	--bg-lv5: #c5c5c5;
	--bg-lv6: #b6b6b6;
	--bg-lv7: #a7a7a7;
	--bg-lv8: #989898;
	--bg-lv9: #898989;
	--bg-lv0-alpha: rgba(0, 0, 0, 0.7);
	--bg-lv1-alpha: rgba(244, 244, 244, 0.7);
	--bg-lv2-alpha: rgba(242, 242, 242, 0.7);
	--bg-lv3-alpha: rgba(227, 227, 227, 0.7);
	--bg-lv4-alpha: rgba(212, 212, 212, 0.7);
	--bg-lv5-alpha: rgba(197, 197, 197, 0.7);
	--bg-lv6-alpha: rgba(182, 182, 182, 0.7);
	--bg-lv7-alpha: rgba(167, 167, 167, 0.7);
	--bg-lv8-alpha: rgba(152, 152, 152, 0.7);
	--bg-lv9-alpha: rgba(137, 137, 137, 0.7);
}

* {
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: transparent;
}
::-webkit-scrollbar:horizontal {
	height: 5px;
}

body {
	overflow: hidden;
	color: var(--bg-lv0);
	background-color: var(--bg-lv9);
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: var(--bg-lv0);
}

.logo {
	width: 50px;
	height: 50px;
}

.ico {
	color: var(--bg-lv0);
	padding: 16px;
}
.ico--click {
	cursor: pointer;
}
.ico--disable {
	cursor: not-allowed;
}
.ico--hide,
.hide {
	display: none;
}

.main-container {
	position: relative;
	width: 100%;
	height: 100%;
}

body > .ad-modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.616);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100vw;
	height: 100vh;
}
body > .ad-modal.active {
	display: block;
}

body > .ad-modal .ad-banner {
	background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
	border-radius: 8px;
	text-align: center;
	color: var(--bg-lv0);
	display: block;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 40vw;
	height: 70vh;
	padding: 15px 8px;
	line-height: 1.5;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

body > .ad-modal .ad-banner__content {
	width: 80%;
	height: 70%;
}
body > .ad-modal .ad-banner__content > img {
	width: min(30vh, 15vw);
	height: auto;
}
body > .ad-modal .ad-banner__content > img:hover {
	animation: blink linear 1s 0s infinite;
}

body > .ad-modal .ad-banner__content > div {
	padding: 15px;
	widows: 100%;
	margin: 1vh;
	font-size: 4vh;
}

body > .ad-modal .ad-banner > a {
	background-color: #ffdb00;
	border-color: #ffdb00;
	border-radius: 25px;
	color: rgb(189, 80, 29);

	font-weight: 600;
	font-size: 4.2vh;
	padding: 6px 35px;
	margin-top: 7px;
	transition: all 0.3s ease;
}
body > .ad-modal .ad-banner > a:hover {
	transform: scale(1.1);
}

@keyframes blink {
	33% {
		opacity: 0.7;
		transform: scale(0.9);
	}
	66% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
