* {
	box-sizing: border-box;
}

.playlist {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.song {
	padding: 25px 20px;
	margin: 7px;
	text-align: center;
}
.song .thumb {
	background-size: contain;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.cd {
	background-color: rgb(189, 70, 70);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 100;
}
